@page "/categoryTable"
@using Site.Shared.Dto

<div class="container mt-4">
    @if (TableData != null && TableData.Any())
    {
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>Category ID</th>
                    <th>Category Name</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in TableData)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No data available.</p>
    }
</div>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public List<Category>? TableData { get; set; }

}