@page "/navbar"
@using System.Diagnostics

<div class="navbar">
    <NavLink class="nav-link home-button" href="" Match="NavLinkMatch.All">Home</NavLink>
    <div class="right-links">
        <NavLink class="nav-link" href="order">Order</NavLink>
        <NavLink class="nav-link" href="supplies">Supplies</NavLink>
        <NavLink class="nav-link" href="products">Products</NavLink>
        <NavLink class="nav-link" href="leftovers">Leftovers</NavLink>
        <NavLink class="nav-link" href="categories">Categories</NavLink>
        <NavLink class="nav-link" href="contacts">Contacts</NavLink>
        <NavLink class="nav-link" href="login">Login</NavLink>
        @if (Debugger.IsAttached)
        {
            <NavLink class="nav-link" href="dev">Dev</NavLink>
        }
    </div>
</div>