.navbar {
    display: flex;
    width: 100vw; /* Full viewport width */
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s; 
}

    .nav-link.home-button {
        background-color: #FFFFFF;
    }

    .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
    }

.right-links {
    display: flex;
    align-items: center;
}
