@page "/LeftoversTable"
@using Site.Shared.Dto

<div class="container mt-4">
    @if (TableData != null && TableData.Any())
    {
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Items Left</th>
                    <th>Item Type</th>
                    <th>Storage Item Sum</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in TableData)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.ItemName</td>
                        <td>@item.ItemsLeft</td>
                        <td>
                            @switch (item.ItemType)
                            {
                                case "2":
                                    <td>Товар</td>
                                    ;
                                    break;
                                default:
                                    <td>Послуга</td>
                                    break;
                            }

                        </td>
                        <td>@item.StorageItemSum</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No data available.</p>
    }
</div>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public List<Leftovers>? TableData { get; set; }

}