@inherits LayoutComponentBase

<div class="page">
    <header>
        <NavMenu/>
    </header>
    
    <div class="horizontal-divider"></div>

    <main>

        <div class="container my-5">
            @Body
        </div>

    </main>

    <div class="horizontal-divider"></div>
</div>
