@page "/navbar"
@using System.Diagnostics

<div class="navbar">
    <NavLink class="btn btn-primary rounded-pill px-3" type="button" href="" Match="NavLinkMatch.All">Home</NavLink>
    <div class="right-links">

        <NavLink class="btn btn-primary rounded-pill px-3" type="button" href="order">Order</NavLink>
        <NavLink class="btn btn-primary rounded-pill px-3" type="button" href="supplies">Supplies</NavLink>
        <NavLink class="btn btn-primary rounded-pill px-3" type="button" href="products">Products</NavLink>
        <NavLink class="btn btn-primary rounded-pill px-3" type="button" href="leftovers">Leftovers</NavLink>
        <NavLink class="btn btn-primary rounded-pill px-3" type="button" href="categories">Categories</NavLink>
        <NavLink class="btn btn-primary rounded-pill px-3" type="button" href="contacts">Contacts</NavLink>
        <NavLink class="btn btn-primary rounded-pill px-3" type="button" href="login">Login</NavLink>
        <NavLink class="btn btn-primary rounded-pill px-3" type="button" href="dev">Dev</NavLink>

    </div>
</div>