<h3>Product3DWidget</h3>

<div id="img360" class="img-360" data-url="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_000" style="background-image: url(https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_0000.png&quot;);">

    <div id="rotateImg" style="height:100%;width:100%;" class="">

    </div>
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_0002.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_0003.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_0004.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_0005.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_0006.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_0007.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_0008.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_0009.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00010.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00011.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00012.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00013.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00014.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00015.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00016.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00017.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00018.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00019.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00020.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00021.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00022.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00023.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00024.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00025.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00026.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00027.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00028.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00029.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00030.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00031.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00032.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00033.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00034.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00035.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00036.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00037.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00038.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00039.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00040.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00041.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00042.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00043.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00044.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00045.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00046.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00047.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00048.png" style="display:none;">
    <img src="https://www.vaporesso.com/hubfs/imgs/2022/pro/series/xros3/rotate3/XROS_00049.png" style="display:none;">
</div>

@code {

}
